*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#323232), color-stop(40%, #3f3f3f), color-stop(150%, #1c1c1c)), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.4)), color-stop(200%, rgba(0, 0, 0, 0.25)));
  background-image: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 12vh;
  position: fixed;
  top: 0;
  background-color: #2e2b2b;
  z-index: 999;
}

.nav__brand {
  display: none;
  margin-left: 1em;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 900;
}

.nav__brand-link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #e0dfdf;
  text-decoration: none;
}

.nav__brand-link:hover {
  color: #bdbbbb;
}

.nav__brand-link span {
  display: block;
}

.nav__brand-link--name {
  font-size: 2rem;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}

.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}

.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: '';
  background-color: #e0dfdf;
}

.burger-btn__bars {
  width: 100%;
}

.burger-btn__bars::after {
  top: 13px;
  width: 100%;
}

.burger-btn__bars::before {
  top: 27px;
  width: 100%;
}

.navdesktop {
  display: none;
}

.navdesktop__item {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  font-size: 2.5rem;
  color: #e0dfdf;
  text-decoration: none;
}

.navmobile {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #2e2b2b;
  text-transform: uppercase;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  z-index: 100;
}

.navmobile--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navmobile__item {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  font-size: 2.5rem;
  color: #e0dfdf;
  text-decoration: none;
}

.hero-image {
  position: relative;
  width: 100vw;
  height: 88vh;
  margin-top: 12vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/hero-mini.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-mini.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #e0dfdf;
}

.hero-text h1 {
  font-weight: 900;
  text-transform: uppercase;
}

.hero-text .hero-text-name {
  margin: 0.2em 0;
  font-size: 2.5rem;
  font-weight: 700;
}

.aboutus__block {
  position: relative;
  padding: 3em 2em;
  background-color: #e0dfdf;
}

.aboutus__block button {
  position: absolute;
  top: 3rem;
  right: 3rem;
  font-size: 7rem;
  background: none;
  border: none;
  cursor: crosshair;
  z-index: 10;
}

.aboutus__block button:hover ~ .aboutus__block-img {
  -webkit-clip-path: circle(120% at 50% 90%);
          clip-path: circle(120% at 50% 90%);
  opacity: 1;
}

.aboutus__block-img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("/img/about-mini.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-clip-path: circle(0 at 95% 8%);
          clip-path: circle(0 at 95% 8%);
  -webkit-transition: ease-out 0.8s, -webkit-clip-path 0.8s;
  transition: ease-out 0.8s, -webkit-clip-path 0.8s;
  transition: clip-path 0.8s, ease-out 0.8s;
  transition: clip-path 0.8s, ease-out 0.8s, -webkit-clip-path 0.8s;
  opacity: 0;
  z-index: 5;
}

.aboutus__block .fa-info-circle {
  font-size: 7rem;
}

.aboutus__block-text--header {
  margin-bottom: 1em;
  font-size: 3.8rem;
}

.aboutus__block-text--desc {
  margin: 0.5em 0;
}

@media (min-width: 576px) {
  .nav__brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aboutus__block-img {
    background-image: url("/img/about-big.jpg");
  }
}

@media (min-width: 992px) {
  .hero-image {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/hero-big.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-big.jpg");
  }
  .aboutus__block {
    padding-top: 10rem;
  }
  .aboutus__block button {
    top: 2.5rem;
    right: 2.5rem;
    margin-bottom: 0.5rem;
  }
  .aboutus__block .fa-info-circle {
    font-size: 11rem;
  }
}

@media (min-width: 992px) and (min-width: 1200px) {
  .burger-btn {
    display: none;
  }
  .navdesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-transform: uppercase;
  }
  .navdesktop__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 2em;
  }
  .navdesktop__item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #e0dfdf;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .navdesktop__item:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  .aboutus {
    margin: 3em 0;
  }
  .aboutus__block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 12em 5em 15em;
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 8px;
            box-shadow: 5px 5px 8px;
    overflow: hidden;
  }
  .aboutus__block button {
    top: 2.5rem;
    right: 2.5rem;
  }
  .aboutus__block .fa-info-circle {
    font-size: 15rem;
  }
  .aboutus__block-text--header {
    margin-bottom: 0.5em;
    font-size: 4.8rem;
  }
  .aboutus__block-text--desc {
    margin: 1em 0;
    font-size: 2.2rem;
  }
}
/*# sourceMappingURL=main.css.map */