@import './colors';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	height: 200vh;
}

// NAV
.navbar {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	background-color: $dark-color;
	z-index: 999;
}
.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		right: 0;
		height: 3px;
		content: '';
		background-color: $pure-white;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 13px;
			width: 100%;
		}

		&::before {
			top: 27px;
			width: 100%;
		}
	}
}

.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-color: $dark-color;
	transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	z-index: 100;

	&--active {
		transform: translateX(0);
	}

	&__item {
		position: relative;
		display: block;
		margin: 0.5em 0;
		padding: 0.5em 2em;
		font-size: 2.8rem;
		color: $pure-white;
		text-decoration: none;
	}
}

//========================
//MEDIA QUERIES
//========================
@media (min-width: 1200px) {
	.burger-btn {
		display: none;
	}
}
