@import './colors';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
}

// NAV
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	background-color: $dark-color;
	z-index: 999;

	&__brand {
		display: none;
		margin-left: 1em;
		text-transform: uppercase;
		font-size: 3rem;
		font-weight: 900;

		&-link {
			span {
				display: block;
			}
			color: $pure-white;
			text-decoration: none;

			&--name {
				font-size: 2rem;
			}
		}
	}
}
.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		right: 0;
		height: 3px;
		content: '';
		background-color: $pure-white;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 13px;
			width: 100%;
		}

		&::before {
			top: 27px;
			width: 100%;
		}
	}
}
.navdesktop {
	display: none;
}
.navmobile {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-color: $dark-color;
	text-transform: uppercase;
	transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	z-index: 100;

	&--active {
		transform: translateX(0);
	}

	&__item {
		position: relative;
		display: block;
		margin: 0.5em 0;
		padding: 0.5em 2em;
		font-size: 2.5rem;
		color: $pure-white;
		text-decoration: none;
	}
}

//========================
//MEDIA QUERIES
//========================
@media (min-width: 1200px) {
	.burger-btn {
		display: none;
	}
	.navdesktop {
		display: flex;
		justify-content: space-between;
		text-transform: uppercase;

		&__items {
			display: flex;
		}
	}
}

@media (min-width: 576px) {
	.nav__brand {
		display: flex;
	}
}
